{% extends "base.html" %}
{% block title %} — home {% endblock %}
{% block head %}
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}
{% block body %}
	<div id="intro">
		<code>format-ci</code> is a CI service with one purpose, and one purpose only: to verify code formatting on GitHub repositories.
	</div>
	<div id="howto">
		To add your project to format-ci add a webhook via repository settings like this:
		<img src="{{ url_for('static', filename='webhook_config_example.png') }}" alt="Webhook configuration screenshot" id="config_ss" />
	</div>
{% endblock %}
