code.job_commit_hash > a:link, code.job_commit_hash > a:visited {
	text-decoration: none;
	color: #A0A0A0;
	float: right;
	margin-right: .35em;
}

.build_pass.repo_job {
	background-color: #004000;
}

.build_fail.repo_job {
	background-color: #770000;
}

.repo_job {
	margin-top: .1em;
	margin-bottom: .1em;
	border-radius: .4em;
	margin-right: 2em;
}
