html {
	background-color: #555;
	color: #BBB;
}

#main {
  width: 85%;
  margin: 0 auto;
  float: right;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 4px;
  width: 15%;
}


.build_result {
	font-weight: bold;
}

.build_pass {
	color: #008033;
}

.build_fail {
	color: #ff3000;
}

.build_pass > span.job_slug_link > :link, .build_pass > span.job_slug_link > :visited,
.build_pass > a.repo_job_id:link, .build_pass > a.repo_job_id:visited,
.build_pass > a.repo_job_id > :link, .build_pass > a.repo_job_id > :visited {
	text-decoration: none;
	color: #008033;
}

.build_fail > span.job_slug_link > :link, .build_fail > span.job_slug_link > :visited,
.build_fail > a.repo_job_id:link, .build_fail > a.repo_job_id:visited,
.build_fail > a.repo_job_id > :link, .build_fail > a.po_job_id > :visited {
	text-decoration: none;
	color: #ff3000;
}

.repo_job_id {
	margin-right: .4em;
	float: right;
}

.repo_job_id_hash {
	color: #A0A0A0;
}
